<ion-view cache-view="true">
    <ion-nav-title>
        <p >ABOUT US</p>

    </ion-nav-title>

    <ion-content padding="false" class="no-padding no-margin">
        <ion-slide-box auto-play="true" does-continue="true" slide-interval="2000">
            <ion-slide>
                <div class="box"><img class="img-responsive" src="img/about_msp3.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img class="img-responsive" src="img/about_msp1.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img class="img-responsive" src="img/about_msp2.jpg"></div>
            </ion-slide>
        </ion-slide-box>



        <div class="card post no-margin no-padding">
            <!--<div class="item item-body" id="content" ng-if="content" ng-bind-html="content | html_filters"></div>-->
            <div class="item item-body " id="content">


                <div id='av_section_1' class='avia-section alternate_color avia-section-default avia-no-shadow avia-bg-style-scroll  container_wrap fullsize'>
                    <div class='container'>
                        <div class='template-page content  av-content-full alpha units'>
                            <div class='post-entry post-entry-type-page post-entry-1195'>
                                <div class='entry-content-wrapper clearfix'>
                                    <div class="flex_column av_three_fifth  flex_column_div av-zero-column-padding" style='border-radius:0px;'>
                                        <p>
                                            <div style='padding-bottom:0px;' class='av-special-heading av-special-heading-h1  blockquote modern-quote '>
                                                <h1 class='av-special-heading-tag' itemprop="headline">Masterpiece Clinic</h1>
                                                <div class='special-heading-border'>
                                                    <div class='special-heading-inner-border'></div>
                                                </div>
                                            </div>
                                            <br/>
                                            <div style=' margin-top:15px; margin-bottom:15px;' class='hr hr-custom hr-left hr-icon-no '>
                                                <span class='hr-inner inner-border-av-border-thin' style=' width:50px;'>
                                                    <span class='hr-inner-style'></span>
                                                </span>
                                            </div>
                                            <br/>
                                            <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                                <div class='avia_textblock' itemprop="text">
                                                    <p>
                                                    เพื่อการดูแลผิวพรรณและความสวยอย่างที่คุณต้องการ <strong>&#8220;มาสเตอร์พีซคลินิก&#8221;</strong>
                                                    คลินิกศัลยกรรมตกแต่งและเลเซอร์ผิวพรรณ พร้อมให้บริการความงาม
                                                    โดยทีมแพทย์ผู้เชี่ยวชาญเฉพาะทางและทีมงานมากประสบการณ์ที่จะให้การดูแล
                                                    วิเคราะห์สภาพปัญหาต่างๆ และให้คำแนะนำ
                                                    อย่างตรงไปตรงมาในการรักษาโดยละเอียด
                                                    เพื่อให้ความสวยของคุณเป็นไปได้ดั่งที่ใจต้องการ
                                                    โดยเรามีการร่วมมือประสานงานทั้งเทคนิคและนวัตกรรมทางการแพทย์โดยตรงจากต่างประเทศอยู่เสมอ
                                                    รวมถึงเครื่องมือทางการแพทย์ที่ได้มาตรฐานสากล ปลอดภัย
                                                    สามารถตอบโจทย์สำหรับผู้ที่อยากสวยได้ดั่งใจ
                                                    </p>

                                                    <p><strong>มาสเตอร์พีซคลินิก</strong> เริ่มก่อตั้ง โดย <strong>นายแพทย์ระวีวัฒน์
                                                        มาศฉมาดล (คุณหมอเส)</strong>
                                                        โดยสถานที่ก่อตั้งคลินิกอยู่ที่สยามสแควร์ แหล่ง
                                                        ช้อปปิ้งใจกลางกรุงเทพฯ เป็นคลินิกดูแลผิวพรรณและศัลยกรรมความงาม
                                                        จุดเด่นของมาสเตอร์พีซคลินิก คือแพทย์ผู้เชี่ยวชาญ
                                                        พร้อมให้คำปรึกษาปัญหาเรื่องความสวยความงามโดยตรง
                                                        ทั้งด้านศัลยกรรมความงาม ผิวพรรณ ครบวงจร อีกทั้งยังมี
                                                        เครื่องมือเลเซอร์ ที่ได้มาตรฐานสากล มีความปลอดภัย
                                                        รวมถึงผลิตภัณฑ์และยาที่ได้มาตรฐานจากองค์การอาหารและยา
                                                        กระทรวงสาธารณสุข โปรแกรมการรักษาในราคาที่คุณพอใจ</p>
                                                </div>
                                            </section>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- close content main div --></div>
                    <div class='av-extra-border-element border-extra-arrow-down'>
                        <div class='av-extra-border-outer'>
                            <div class='av-extra-border-inner' style='background-color:#fcfcfc;'></div>
                        </div>
                    </div>
                </div>
                <div id='av_section_2' class='avia-section main_color avia-section-default avia-no-border-styling avia-bg-style-scroll  container_wrap fullsize' style='background-color: #ecf3eb; background-color: #ecf3eb; '>
                    <div class='container'>
                        <div class='template-page content  av-content-full alpha units'>
                            <div class='post-entry post-entry-type-page post-entry-1195'>
                                <div class='entry-content-wrapper clearfix'>
                                    <div class="flex_column av_one_full flex_column_div first">
                                        <p>
                                            <div style='padding-bottom:10px;' class='av-special-heading av-special-heading-h1  blockquote modern-quote modern-centered '>
                                                <h1 class='av-special-heading-tag' itemprop="headline">ทีมแพทย์</h1>
                                                <div class='special-heading-border'>
                                                    <div class='special-heading-inner-border'></div>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class='hr hr-short hr-center '>
                                                <span class='hr-inner '>
                                                    <span class='hr-inner-style'></span>
                                                </span>
                                            </div>
                                            <br/>
                                            <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                                <div class='avia_textblock ' itemprop="text">
                                                    <p style="text-align: center;">
                                                    มาสเตอร์พีชคลินิก
                                                    คลินิกบริการด้านความงามที่มีแพทย์ผู้เชี่ยวชาญและมีชื่อเสียง<br/>นำโดย
                                                    หมอเส นพ.ระวีวัฒน์ มาศฉมาดล
                                                    หัวหน้าทีมแพทย์ที่มีประสบการณ์และได้รับการยอมรับจากดาราและ Celebrity
                                                    มากมาย</p>

                                                    <p style="text-align: center;">
                                                        นอกจากนี้ยังมีทีมแพทย์ที่เชี่ยวชาญเฉพาะทาง
                                                        ไม่ว่าจะเป็นด้านศัลยกรรม<br/>การดูแลผิวพรรณ ปลูกผม ครบวงจร
                                                        ที่สามารถช่วยให้คำปรึกษาปัญหาของท่านได้อย่างตรงจุด
                                                    </p>
                                                </div>
                                            </section>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- close content main div --></div>
                    <div class='av-extra-border-element border-extra-arrow-down'>
                        <div class='av-extra-border-outer'>
                            <div class='av-extra-border-inner' style='background-color:#ecf3eb;'></div>
                        </div>
                    </div>
                </div>
                <div id='av_section_3' class='avia-section main_color avia-section-default avia-no-border-styling avia-bg-style-scroll  container_wrap fullsize'>
                    <div class='container'>
                        <div class='template-page content  av-content-full alpha units'>
                            <div class='post-entry post-entry-type-page post-entry-1195'>
                                <div class='entry-content-wrapper clearfix'>
                                    <div class="flex_column av_one_third  flex_column_div first">
                                        <div class='avia-image-container avia-align-center' itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                                            <div class='avia-image-container-inner'>
                                                <a href='http://www.masterpiececlinic.com/about-us/%E0%B8%99%E0%B8%9E-%E0%B8%A3%E0%B8%B0%E0%B8%A7%E0%B8%B5%E0%B8%A7%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B9%8C-%E0%B8%A1%E0%B8%B2%E0%B8%A8%E0%B8%89%E0%B8%A1%E0%B8%B2%E0%B8%94%E0%B8%A5/' class='avia_image' target="_blank"><img class='avia_image '
                                                     src='img/doctor/dr-sae1.jpg' alt='' title='นพ. ระวีวัฒน์ มาศฉมาดล' itemprop="contentURL"/></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex_column av_one_third  flex_column_div av-zero-column-padding" style='border-radius:0px; '>
                                        <div class='avia-image-container  av-styling-   avia-align-center ' itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                                            <div class='avia-image-container-inner'>
                                                <a href='http://www.masterpiececlinic.com/about-us/%E0%B8%99%E0%B8%9E-%E0%B9%82%E0%B8%86%E0%B8%A9%E0%B8%B4%E0%B8%95-%E0%B9%80%E0%B8%AD%E0%B8%B5%E0%B9%89%E0%B8%A2%E0%B8%A7%E0%B8%89%E0%B8%B2%E0%B8%A2/'
                                                    class='avia_image'>
                                                    <img class='avia_image' src='img/doctor/dr-ben_12.jpg' alt='' title='นพ. โฆษิต เอี้ยวฉาย' itemprop="contentURL"/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex_column av_one_third  flex_column_div av-zero-column-padding" style='border-radius:0px; '>
                                        <div class='avia-image-container  av-styling-   avia-align-center ' itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                                            <div class='avia-image-container-inner'>
                                                <a href='http://www.masterpiececlinic.com/about-us/%E0%B8%99%E0%B8%9E-%E0%B8%A7%E0%B8%A5%E0%B8%9E-%E0%B8%A8%E0%B8%B8%E0%B8%A0%E0%B8%A7%E0%B8%93%E0%B8%B4%E0%B8%8A/'
                                                    class='avia_image' target="_blank">
                                                    <img class='avia_image ' src='img/doctor/dr-walop_11.jpg' alt='' title='นพ. วลพ ศุภวณิช' itemprop="contentURL"/></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex_column av_one_third  flex_column_div first  ">
                                        <div class='avia-image-container  av-styling-   avia-align-center' itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                                            <div class='avia-image-container-inner'>
                                                <a href='http://www.masterpiececlinic.com/about-us/%E0%B8%99%E0%B8%9E-%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%A5-%E0%B8%A1%E0%B8%B8%E0%B8%AA%E0%B8%B4%E0%B8%81%E0%B8%A7%E0%B8%87%E0%B8%A8%E0%B9%8C/'
                                                    class='avia_image' target="_blank">
                                                    <img class='avia_image ' src='img/doctor/dr-ice_11.jpg' alt='' title='นพ. จอมพล มุสิกวงศ์' itemprop="contentURL"/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex_column av_one_third  flex_column_div av-zero-column-padding   "
                                         style='border-radius:0px; '>
                                        <div class='avia-image-container  av-styling-   avia-align-center '
                                             itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                                            <div class='avia-image-container-inner'>
                                                <a href='http://www.masterpiececlinic.com/about-us/%E0%B8%9E%E0%B8%8D-%E0%B8%81%E0%B8%B2%E0%B8%8D%E0%B8%88%E0%B8%99%E0%B8%B2-%E0%B8%A5%E0%B8%B5%E0%B8%A5%E0%B8%B2%E0%B8%A0%E0%B8%B1%E0%B8%97%E0%B8%A3%E0%B8%B2%E0%B8%99%E0%B8%B8%E0%B8%A3%E0%B8%B1/'
                                                    class='avia_image' target="_blank">
                                                    <img class='avia_image ' src='img/doctor/dr-hnu_1.jpg' alt='' title='พญ. กาญจนา ลีลาภัทรานุรักษ์' itemprop="contentURL"/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex_column av_one_third  flex_column_div av-zero-column-padding" style='border-radius:0px; '>
                                        <div class='avia-image-container  av-styling-   avia-align-center ' itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                                            <div class='avia-image-container-inner'>
                                                <a href='http://www.masterpiececlinic.com/about-us/%E0%B8%99%E0%B8%9E-%E0%B8%8A%E0%B8%99%E0%B8%81%E0%B8%A3-%E0%B9%80%E0%B8%95%E0%B8%B7%E0%B8%AD%E0%B8%99%E0%B8%AD%E0%B8%B2%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B9%8C/'
                                                    class='avia_image' target="_blank">
                                                    <img class='avia_image' src='img/doctor/dr-ton3.jpg' alt='' title='นพ. ชนกร เตือนอารีย์' itemprop="contentURL"/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex_column av_one_third  flex_column_div av-zero-column-padding first" style='border-radius:0px; '>
                                        <div class='avia-image-container  av-styling-   avia-align-center' itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                                            <div class='avia-image-container-inner'>
                                                <a href='http://www.masterpiececlinic.com/about-us/%E0%B8%99%E0%B8%9E-%E0%B8%8A%E0%B8%B9%E0%B8%97%E0%B8%B4%E0%B8%A8-%E0%B8%81%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%81%E0%B8%B8%E0%B8%A5/' class='avia_image' target="_blank">
                                                    <img class='avia_image' src='img/doctor/dr-eak1.jpg' alt='' title='อ.นพ.ชูทิศ กี่สกุล' itemprop="contentURL"/></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex_column av_one_third  flex_column_div av-zero-column-padding" style='border-radius:0px; '>
                                        <div class='avia-image-container  av-styling-   avia-align-center' itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                                            <div class='avia-image-container-inner'><a
                                                    href='http://www.masterpiececlinic.com/about-us/%E0%B8%9E%E0%B8%8D-%E0%B8%88%E0%B8%B4%E0%B8%99%E0%B8%95%E0%B8%99%E0%B8%B2-%E0%B8%AD%E0%B8%B1%E0%B8%A8%E0%B8%A7%E0%B8%A3%E0%B8%B8%E0%B9%88%E0%B8%87%E0%B8%AA%E0%B8%81%E0%B8%B8%E0%B8%A5/' class='avia_image' target="_blank">
                                                <img class='avia_image ' src='img/doctor/dr-bung_1.jpg' alt='' title='dr bung_1' itemprop="contentURL"/></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex_column av_one_third  flex_column_div av-zero-column-padding" style='border-radius:0px; '>
                                        <div class='avia-image-container  av-styling-   avia-align-center' itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                                            <div class='avia-image-container-inner'>
                                                <a href='http://www.masterpiececlinic.com/about-us/%E0%B8%9E%E0%B8%8D-%E0%B8%9E%E0%B8%A3%E0%B8%B5%E0%B8%A1%E0%B8%B2-%E0%B8%97%E0%B8%A8%E0%B8%9A%E0%B8%A7%E0%B8%A3/' class='avia_image' target="_blank">
                                                    <img class='avia_image' src='img/doctor/dr-prima.jpg' alt='' title='พญ. พรีมา ทศบวร' itemprop="contentURL"/></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex_column av_one_third  flex_column_div av-zero-column-padding first  " style='border-radius:0px; '>
                                        <div class='avia-image-container  av-styling-   avia-align-center ' itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                                            <div class='avia-image-container-inner'>
                                                <a
                                                    href='http://www.masterpiececlinic.com/about-us/%E0%B8%9E%E0%B8%8D-%E0%B8%AB%E0%B8%97%E0%B8%B1%E0%B8%A2%E0%B8%98%E0%B8%A3%E0%B8%A3%E0%B8%A1-%E0%B8%A0%E0%B8%B1%E0%B8%81%E0%B8%94%E0%B8%B5%E0%B8%98%E0%B8%99%E0%B8%B2%E0%B8%81%E0%B8%B8%E0%B8%A5/'
                                                    class='avia_image' target="_blank">
                                                <img class='avia_image '  src='img/doctor/dr-gam.jpg' alt='' title='พญ.หทัยธรรม ภักดีธนากุล' itemprop="contentURL"/></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex_column av_one_third  flex_column_div av-zero-column-padding   " style='border-radius:0px; '>
                                        <div class='avia-image-container  av-styling-   avia-align-center ' itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                                            <div class='avia-image-container-inner'>
                                                <a href='http://www.masterpiececlinic.com/about-us/%E0%B8%99%E0%B8%9E-%E0%B8%99%E0%B8%A3%E0%B8%AA%E0%B8%B4%E0%B8%97%E0%B8%98%E0%B8%B4%E0%B9%8C-%E0%B8%AD%E0%B8%AB%E0%B8%B1%E0%B8%99%E0%B8%97%E0%B8%A3%E0%B8%B4%E0%B8%81/'
                                                    class='avia_image' target="_blank">
                                                    <img class='avia_image ' src='img/doctor/dr-oop.jpg' alt='' title='นพ.นรสิทธิ์ อหันทริก' itemprop="contentURL"/></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex_column av_one_full  flex_column_div av-zero-column-padding first  "
                                         style='border-radius:0px; '>
                                        <div class='hr hr-short hr-center '><span class='hr-inner '><span
                                                class='hr-inner-style'></span></span></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>