<div class="form-error" ng-message="required"><i class="ion-information-circled"></i> This field is required.</div>
<div class="form-error" ng-message="minlength"><i class="ion-information-circled"></i> This field is must be at least 5 characters.</div>
<div class="form-error" ng-message="maxlength"><i class="ion-information-circled"></i> This field is must be less than 50 characters</div>
<div class="form-error" ng-message="compareTo"><i class="ion-information-circled"></i> Must match the previous entry</div>
<div class="form-error" ng-message="notCompareTo"><i class="ion-information-circled"></i> Must not match the previous entry</div>