<ion-view cache-view="false" view-title="{{ title | uppercase}}" >

	<ion-content class="has-header semi-form" scroll="false" >
		<form name="form.changePassForm" novalidate="" ng-submit="changePass(form.changePassForm)">

			<div class="list">
				<div class="item item-divider item-divider-first-row">
					Current Password
				</div>
				<label class="item item-input " ng-class="{ 'has-errors' : form.changePassForm.oldPassword.$invalid && form.changePassForm.oldPassword.$dirty, 'no-errors' : form.changePassForm.oldPassword.$valid}">
					<i class="icon ion-locked placeholder-icon"></i>
					<input type="{{currentInputType}}" name="oldPassword" placeholder="Current Password" ng-model="data.oldPassword" ng-minlength="5" ng-maxlength="20" required>
					<label class="item-button-showhide"  ng-click="hideShowPassword('currentInputType');currentPasswordCheckbox=!currentPasswordCheckbox " >
						<span ng-if="currentPasswordCheckbox">Show</span>
						<span ng-if="!currentPasswordCheckbox">Hide</span>
					</label>
				</label>
				<div class="error-container" ng-show="form.changePassForm.oldPassword.$error && form.changePassForm.oldPassword.$dirty" ng-messages="form.changePassForm.oldPassword.$error">
					<div ng-messages-include="templates/error-list.html"></div>
				</div>

				<div class="item item-divider">
					New Password
				</div>
				<label class="item item-input" ng-class="{ 'has-errors' : form.changePassForm.newPassword.$invalid && form.changePassForm.newPassword.$dirty || data.newPassword==data.oldPassword  && form.changePassForm.oldPassword.$dirty, 'no-errors' : form.changePassForm.newPassword.$valid && data.newPassword!=data.oldPassword  }">
					<i class="icon ion-locked placeholder-icon"></i>
					<input type="{{inputType}}" name="newPassword" placeholder="New Password" ng-model="data.newPassword" ng-minlength="5" ng-maxlength="20" required not-compare-to="data.oldPassword">
					<label class="item-button-showhide"  ng-click="hideShowPassword('inputType');passwordCheckbox=!passwordCheckbox " >
						<span ng-if="passwordCheckbox">Show</span>
						<span ng-if="!passwordCheckbox">Hide</span>
					</label>
				</label>
				<div class="error-container last-error-container" ng-show="form.changePassForm.newPassword.$error && form.changePassForm.newPassword.$dirty || data.newPasswordConfirm==data.oldPassword && form.changePassForm.oldPassword.$dirty " ng-messages="form.changePassForm.newPassword.$error && data.newPassword!=data.oldPassword">
					<div ng-messages-include="templates/error-list.html"></div>
				</div>

				<label class="item item-input" ng-class="{ 'has-errors' : form.changePassForm.newPasswordConfirm.$invalid && form.changePassForm.newPassword.$dirty || data.newPasswordConfirm!=data.newPassword && form.changePassForm.newPassword.$dirty, 'no-errors' : form.changePassForm.newPasswordConfirm.$valid }">
					<i class="icon ion-locked placeholder-icon"></i>
					<input type="{{inputTypeConFirm}}" name="newPasswordConfirm" placeholder="Confirm Password" ng-model="data.newPasswordConfirm" ng-minlength="5" ng-maxlength="20" required  compare-to="data.newPassword" >
					<label class="item-button-showhide"  ng-click="hideShowPassword('inputTypeConFirm');confirmPasswordCheckbox=!confirmPasswordCheckbox " >
						<span ng-if="confirmPasswordCheckbox">Show</span>
						<span ng-if="!confirmPasswordCheckbox">Hide</span>
					</label>
				</label>
				<div class="error-container last-error-container" ng-show="form.changePassForm.newPasswordConfirm.$error && form.changePassForm.newPassword.$dirty || data.newPasswordConfirm!=data.newPassword && form.changePassForm.newPassword.$dirty" ng-messages="form.changePassForm.newPasswordConfirm.$error">
					<div ng-messages-include="templates/error-list.html"></div>
				</div>

			</div>

			<div class="row">
				<div class="col col-40 col-offset-30">
					<input type="image" class="img-responsive" ng-src="img/btn_submit.png" ng-disabled="form.changePassForm.$invalid" />
				</div>
			</div>

		</form>
	</ion-content>


</ion-view>



