<ion-view cache-view="false" view-title="{{ title | uppercase}}" >

	<ion-content class="has-header semi-form" scroll="false">

		<form name="form.signUpForm" novalidate="" ng-submit="Edit(form.signUpForm)">

			<div class="list">
				<div class="item item-divider item-divider-first-row">
					Full Name
				</div>
				<label class="item item-input " >
					<i class="icon ion-person placeholder-icon"></i>
					<input type="text" name="fullName" placeholder="Full Name" ng-model="data.fullName" ng-minlength="5" ng-maxlength="100" required >
				</label>
				<div class="error-container" ng-show="form.signUpForm.fullName.$error && form.signUpForm.fullName.$dirty" ng-messages="form.signUpForm.fullName.$error">
					<div ng-messages-include="templates/error-list.html"></div>
				</div>

			</div>


			<div class="row">
				<div class="col col-40 col-offset-30">
					<input type="image" class="img-responsive" ng-src="img/btn_submit.png" ng-disabled="form.signUpForm.$invalid" />
				</div>
			</div>
		</form>


	</ion-content>


</ion-view>



