<ion-view cache-view="false">

	<ion-content scroll="false" class="page-no-scroll" >

		<style>
			a {
				text-underline: none;
				text-decoration: none;
				color: #808080;
			}
		</style>
		<div class="center">
			<div class="col">

				<img class="img-responsive" src="img/center_logo.png"  style="padding:0rem 3rem; margin-bottom: 6rem;" />


				<div ng-show="!IsLogin" >


					<img class="img-responsive" ng-src="img/btn_sign_up.png" ng-click="signUp()" style="margin-bottom: 0.6rem;">

					<img class="img-responsive" ng-src="img/btn_fb_login.png" ng-click="facebookSignIn()" style="margin-bottom: 0.6rem;">

					<a href="" ng-click="IsLogin=!IsLogin">Have an Account ? <b>Login</b></a><BR>

					<a class="button button-icon button-icon-top" ng-click="skip()" style="margin-top: 1rem;color: #808080;">
						<i class="icon ion-android-arrow-forward tabs-icon-top"></i>Skip
					</a>

					<a href="" ng-click="forgetPass()" style="position:absolute;bottom: 1rem; right: 1.5rem;">Forget Password ?</a><BR>
					<!--<button class="button button-block button-assertive" ng-click="facebookSignOut()" >-->
						<!--<i class="icon ion-social-facebook"></i>  Log out Facebook-->
					<!--</button>-->




				</div>

				<div ng-show="IsLogin" >

					<form name="form.signInForm" novalidate="" ng-submit="signIn(form.signInForm)">
						<label class="item item-input item-input-noborder" >
							<i class="icon ion-person placeholder-icon"></i>
							<input type="email" name="email" placeholder="Email" ng-model="data.email" ng-minlength="5" ng-maxlength="20" required>
						</label>
						<div class="error-container" ng-show="form.signInForm.email.$error && form.signInForm.email.$dirty" ng-messages="form.signInForm.email.$error">
							<div ng-messages-include="templates/error-list.html"></div>
						</div>

						<label class="item item-input item-input-noborder" style="border-top: 1px solid #CCC;border-bottom: 1px solid #CCC" >
							<i class="icon ion-locked placeholder-icon"></i>
							<input type="{{inputType}}" name="password" placeholder="Password" ng-model="data.password" ng-minlength="5" ng-maxlength="20" required>
							<label class="item-button-showhide"  ng-click="hideShowPassword();passwordCheckbox=!passwordCheckbox " >
								<span ng-if="passwordCheckbox">Show</span>
								<span ng-if="!passwordCheckbox">Hide</span>
							</label>

						</label>
						<div class="error-container last-error-container" ng-show="form.signInForm.password.$error && form.signInForm.password.$dirty" ng-messages="form.signInForm.password.$error">
							<div ng-messages-include="templates/error-list.html"></div>
						</div>


						<button class="button-clear" ng-disabled="form.signInForm.$invalid" type="submit" style="margin-top: 2rem;" ><img class="img-responsive" ng-src="img/btn_login.png" ng-click="signUp()" style="margin-bottom: 0.6rem;"></button>





					</form>
					<a class="button button-icon button-icon-top" ng-click="IsLogin=!IsLogin" style="margin-top: 1rem;color: #808080;">
						<i class="icon ion-android-arrow-back tabs-icon-top"></i>Back
					</a>

				</div>



			</div>
		</div>
	</ion-content>



</ion-view>




