<ion-view view-title="{{ title | uppercase}}" cache-view="false">
    <ion-content scroll="false" class="has-header semi-form">

        <div ng-show="IsLogin"  >
            <ion-list >
                <div class="item item-divider item-divider-first-row" >
                    My Account
                </div>
                <div class="item">
                    <div class="row no-padding" >
                        <div class="col col-33 no-padding">Name</div>
                        <div class="col col-67 no-padding txt-ellip">{{name}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="row no-padding" >
                        <div class="col col-33 no-padding">Email</div>
                        <div class="col col-67 no-padding txt-ellip">{{email}}</div>
                    </div>
                </div>


                <div class="item item-divider">
                    Edit Account
                </div>
                <ion-item class="item-icon-right" href="#/tab/editprofile" >
                    Edit Profile
                    <i class="icon ion-chevron-right"></i>
                </ion-item>
                <div class="item item-divider">
                    Password
                </div>
                <ion-item class="item-icon-right"  href="#/tab/changepass" >
                    Change Password
                    <i class="icon ion-chevron-right"></i>
                </ion-item>
            </ion-list>
            <div class="row" style="margin-top: 1.5rem;">
                <div class="col col-40 col-offset-30">
                    <img class="img-responsive" ng-src="img/btn_logout.png" ng-click="Logout()" >
                </div>
            </div>

        </div>


            <div class="page-no-scroll" ng-show="!IsLogin">
                <div class="center" >
                    <div class="col">
                        <h3>กรุณาล๊อกอินก่อนค่ะ</h3>
                        <img class="img-responsive" ng-src="img/btn_login.png" ng-click="Login()">
                    </div>
                </div>
            </div>




    </ion-content>
</ion-view>
