


/* Android Nexus 10  */
@media only screen and (min-width: 779px) and (max-width: 821px) {
    html { font-size: 28px; }
}


/* Android Nexus 7  */
@media only screen and (min-width: 559px) and (max-width: 651px) {
    html { font-size: 22px; }
}

/* Android Nexus 4  */
@media only screen and (min-width: 363px) and (max-width: 405px) {
    html { font-size: 18px; }
}


/* Android Nexus 5  */
@media only screen and (min-width: 319px) and (max-width: 361px) {
    html { font-size: 16px; }
}


/* Android Nexus 4 4.2.2 API 17  768x1280 320dpi */
@media only screen and ( -webkit-min-device-pixel-ratio: 2 ) and (min-width: 383px) and (max-width: 385px) {
    html { font-size: 18px; }
}

/* Android Nexus 5 -4.4.4 API 19 1080x1920 480dpi  */
@media only screen and ( -webkit-min-device-pixel-ratio: 2 ) and (min-width: 319px) and (max-width: 361px) {
    html { font-size: 16px; }
}




/* iPhone 4 */
@media only screen and (max-height: 481px) {
    html { font-size: 14px; }
}

/* iPhone 5 */
@media only screen and (min-height: 568px) and (max-width: 320px) {
    html { font-size: 16px; }
}

/* iPhone 6 */
@media only screen and (min-width: 374px) and (max-width: 375px)
{
    html { font-size: 18px; }
}

/* iPhone 6 Plus +*/
@media only screen and (min-width: 413px) and (max-width: 480px)
{
    html { font-size: 20px; }
}

/* iPad */
@media screen and (min-width: 767px) and (device-aspect-ratio: 3/4) {
    html { font-size: 28px; }
}


/* iPad Pro */
@media screen and (min-width: 1536px) {
    html { font-size: 56px; }
}
